<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- <link rel="stylesheet" type="text/css" href="main.css"> -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<style type="text/css">
	body{background-color: #f7f7f7;}
	body>div{background-color: #fff; padding: 15px 0 15px 0;}
	/*.nav-wrapper{margin: 25px 0 50px 0;}*/
	.success-message{
		background-color: lightgreen;
		font-weight: bold;
	}
	.zip-buttons>button{
		margin: 0 10px;
	}
	button.form-cluster{
		background-color: lightgreen;
		border: 1px solid green;
		border-radius: 5px;
		padding: 6px;
		font-weight: bold;
	}
	</style>
	</head>
    <body>
      <div ng-app="myApp" ng-controller="myCtrl" class="container shadow-sm mb-5 light rounded"> <!--OVERALL CONTAINING DIV FOR STYLISTIC PURPOSES-->
        <div class="container p-0"> <!--CONTAINER DIV FOR HEADER AND NAV BAR-->
          <div class="row">
            <!-- <div class="container d-flex justify-content-center">
                <img style="width: 225px; height: 225px;" src="http://alexdomzalski.com/botglogo.png">
            </div> -->
          </div>
        </div>
          <div class="row">
            <div class="container d-flex justify-content-center">
                <h1>People by Postal Code</h1>
            </div>
          </div>
          <div class="row nav-wrapper">
              <nav class="navbar navbar-light bg-light col-lg-12 justify-content-center">
                <ul class="nav nav-tabs">
                  <li class="nav-item">
                    <a class="nav-link" href="index.html">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="signup.html">Sign-Up</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#!">Members</a>
                  </li>
                </ul>
              </nav>
          </div>
		  <div class="container">
			<h4>Zip Code Lookup</h4>
			<span class="zip-buttons">
				<button ng-repeat="(key,val) in zipSummary" ng-click="setZip(key)">{{key}} - {{val.needers}} : {{val.careTakers}}</button>
				<!-- <button ng-click="fetchDistinctZips()">&gt;</button> -->
				<button ng-click="setZip()" title="Clear filter">X</button>
				Zip code: <input ng-model="zip" /> <button name="search" ng-click="fetchUserList()">Search</button>
			</span>
			<br />
			<br />
			<center>
				<button class="form-cluster" ng-click="formCluster()">Form Cluster</button>
			</center>
		  </div>
		  <br />
          <div class="container"> <!--CONTAINER DIV FOR MAIN FILTERLIST CONTENT-->
            <div class="row">
			  <div class="success-message" ng-bind="successMessage"></div>
			</div>
            <div class="row pl-4 pr-4">
              <div class="col-md">
			  <h4>Needers {{filteredNeeders.length}} </h4>
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th></th>
                    <th>Zip Code</th>
                    <th>User</th>
                    <th>Needs</th>
                    <th>Delete</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="d in needers | filter:neederZipFilter as filteredNeeders" data-uid="{{d._id}}">
                    <td><input type="radio" name="select_needer" ng-click="setNeeder(this)" ng-value="d._id" /></td>
                    <td>{{d.ZipCode}}</td>
                    <td><a href="mailto:{{d.email}}">{{d.name}}</a></td>
                    <td>{{d.Description}}</td>
					<!-- Add Custom1 (tags) -->
                    <td><button name="remove_user" ng-click="removeUser(d._id, 'needers')">Delete</button></td>
                  </tr>
                </tbody>
              </table>
			  </div>
              <div class="col-md">
              <h4>Care Takers {{filteredCareTakers.length}}</h4>
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th></th>
                    <th>Zip Code</th>
                    <th>User</th>
                    <th>Provides</th>
                    <th>Delete</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="d in careTakers | filter:careTakerZipFilter as filteredCareTakers" data-uid="{{d._id}}">
                    <td><input type="checkbox" name="select_care_taker" ng-model="d.selected" checklist-value="d._id" /></td>
                    <td>{{d.ZipCode}}</td>
                    <td><a href="mailto:{{d.email}}">{{d.name}}</a></td>
                    <td>{{d.Description}}</td>
					<!-- Add Custom1 (tags) -->
                    <td><button name="remove_user" ng-click="removeUser(d._id, 'careTakers')">Delete</button></td>
                  </tr>
                </tbody>
              </table>
              </div>
              </div>
            </div>
          </div>
		<div class="container pt-4 pb-2"> <!--CONTAINER DIV FOR FOOTER AND ADDITIONAL INFO-->
		  <div class="row">
			<div class="container d-flex justify-content-center">
			  <footer>
				<p>
				  CoronavirusArmy | <a href="https://www.coronavirusarmy.org">coronavirusarmy.org</a> | 2020
				</p>
			  </footer>
			</div>
		  </div>
		</div>
		<script>
		// var data = [{"_id":"5e779f0b6cbfc12a075f143b","email":"howard@notreal.com","name":"Howard Humphries","ZipCode":"94703","Description":"Deliveries needed","__v":0},{"_id":"5e779f0b6cbfc12a075f143d","email":"betty@notreal.com","name":"Betty Crocker","ZipCode":"10034","Description":"Deliveries needed","__v":0},{"_id":"5e779f0b6cbfc12a075f143e","email":"casey@notreal.com","name":"Casey Casum","ZipCode":"94703","Description":"Babysitting","__v":0}]
		
		// Filter by zip: http://c29a9953.ngrok.io/api/v1/NeedersLookingForMatch?query=%7B%22ZipCode%22:%2294703%22%7D
		var app = angular.module('myApp', []);
		app.controller('myCtrl', function($scope, $http) {
			$scope.apiHost = 'http://c29a9953.ngrok.io/api/v1/';
			$scope.neederTable = 'NeedersLookingForMatch';
			$scope.careTakerTable = 'CaretakersLookingForMatch';
			$scope.matchedClustersTable = 'MatchedClusters';
			$scope.successMessage = '';
			$scope.userReturnCount = 0;
			
			$scope.selectedNeeder;
			$scope.neederZipFilter;
			$scope.careTakerZipFilter;
			
			$scope.zip;
			$scope.zipSummary = {};
			$scope.zipButtons = '';
			$scope.needers = [];
			$scope.careTakers = [];
			$scope.f;
			
			/*
			// DO NOT DELETE YET
			$scope.zipListMax = 10;
			$scope.zipListSkip = 0;
			// Maybe resurrect this when there's an endpoint for zipcode counts
			$scope.fetchDistinctZips = function(){
				//http://ab86fd25.ngrok.io/api/v1/NeedersLookingForMatch?distinct=ZipCode&limit=10
				q = '?distinct=ZipCode&limit=' + $scope.zipListMax + '&skip=' + $scope.zipListSkip;
				$http.get($scope.apiHost + $scope.neederTable + q)
				.then(function(response) {
					$scope.zipList = response.data;
					$scope.zipListSkip += $scope.zipListMax; // Increment skip by limit
				}, function (response){
					$scope.handleApiError(response)
				});
			}
			$scope.fetchDistinctZips();
			*/
			$scope.setZip = function(zip){
				$scope.f = zip;
				$scope.careTakerZipFilter = zip;
				$scope.neederZipFilter = zip;
			}
			$scope.setCareTakerZipFilter = function(zip){
				$scope.careTakerZipFilter = zip;
			}
			$scope.setNeeder = function(obj){
				//console.log(obj);
				$scope.selectedNeeder = obj.d;
				$scope.setCareTakerZipFilter(obj.d.ZipCode);
			}
			$scope.fetchUserList = function(){
				var q = '';
				if($scope.zip)
					q = '?query=%7B%22ZipCode%22:%22'+$scope.zip+'%22%7D';
				// Fetch needers
				$http.get($scope.apiHost + $scope.neederTable + q)
				.then(function(response) {
					//console.log(response.data);
					$scope.needers = response.data;
					$scope.afterUserListFetches();
				}, function (response){
					$scope.handleApiError(response);
					$scope.afterUserListFetches();
				});
				// Fetch careTakers
				$http.get($scope.apiHost + $scope.careTakerTable + q)
				.then(function(response) {
					$scope.careTakers = response.data;
					$scope.afterUserListFetches();
				}, function (response){
					$scope.handleApiError(response);
					$scope.afterUserListFetches();
				});
				
			}
			$scope.fetchUserList();
			$scope.afterUserListFetches = function(){
				$scope.userReturnCount++;
				if($scope.userReturnCount == 2){
					// Get zips & counts from needers & careTakers
					var tmp;
					for(var i = 0; i < $scope.needers.length; i++){
						tmp = $scope.needers[i].ZipCode;
						if(typeof $scope.zipSummary[tmp] == "undefined"){
							$scope.zipSummary[tmp] = {needers : 1, careTakers : 0};
						}
						else{
							$scope.zipSummary[tmp].needers++;
						}
					}
					for(var i = 0; i < $scope.careTakers.length; i++){
						tmp = $scope.careTakers[i].ZipCode;
						if(typeof $scope.zipSummary[tmp] == "undefined"){
							$scope.zipSummary[tmp] = {needers : 0, careTakers : 1};
						}
						else{
							$scope.zipSummary[tmp].careTakers++;
						}
					}
					$scope.userReturnCount = 0;
				}
			}
			
			$scope.removeUser = function(user_uid, type){
				// Call service to remove user
				if(type == "needers"){
					$http.delete($scope.apiHost + $scope.neederTable + '/' + user_uid)
					.then(function(response){
						//console.log(response);
						// Remove user from page
						for(var i = 0; i < $scope.needers.length; i++){
							if($scope.needers[i]._id == user_uid){
								$scope.needers.splice(i, 1);
								break;
							}
						}
						$scope.displaySuccess('Successfully removed user');
					}, function (response){
						$scope.handleApiError(response);
					});
				}
				else if(type == "careTakers"){
					$http.delete($scope.apiHost + $scope.careTakerTable + '/' + user_uid)
					.then(function(response){
						//console.log(response);
						// Remove user from page
						for(var i = 0; i < $scope.careTakers.length; i++){
							if($scope.careTakers[i]._id == user_uid){
								$scope.careTakers.splice(i, 1);
								break;
							}
						}
						$scope.displaySuccess('Successfully removed user');
					}, function (response){
						$scope.handleApiError(response);
					});
				}
				else
					console.log("type not found");
			}
			$scope.formCluster = function(){
				// Insert the user details into the matched clusters table
				var selectedCareTakers = [];
				// Ideally, this would iterate over filteredNeeders since it has fewer items, but I can't figure out how rn.
				for(var i = 0; i < $scope.careTakers.length; i++){
					if($scope.careTakers[i].selected){
						selectedCareTakers.push($scope.careTakers[i]);
					}
				}
				
				// Validate
				var needer = $scope.selectedNeeder;
				if(!needer){
					alert('No needer selected');
					return false;
				}
				else if(selectedCareTakers.length == 0 || selectedCareTakers.length > 3){
					alert('Please select 1 - 3 care takers only');
					return false;
				}
				
				// Prepare data
				var data = {
					NeederEmail : needer.email,
					ZipCodeCommon : needer.ZipCode,
					Caretaker1Email : selectedCareTakers[0].email
				};
				var extraJson;
				if(selectedCareTakers.length > 2){
					//console.log('Here 1');
					// Three careTakers, set 1 and 2 and extraJson
					data.Caretaker2Email = selectedCareTakers[1].email;
					data.Caretaker3Email = selectedCareTakers[2].email;
					extraJson = angular.toJson([needer,
							selectedCareTakers[0],
							selectedCareTakers[1],
							selectedCareTakers[2]]);
				}
				else if(selectedCareTakers.length > 1){
					//console.log('Here 2');
					// Two careTakers, set 1 and extraJson
					data.Caretaker2Email = selectedCareTakers[1].email;
					console.log(selectedCareTakers[0]);
					extraJson = angular.toJson([needer,
							selectedCareTakers[0],
							selectedCareTakers[1], '']);
				}
				else{
					//console.log('Here 3');
					// One careTaker, just set extraJson
					extraJson = angular.toJson([needer,
							selectedCareTakers[0], '', '']);
				}
				data.ExtraJSONstrings = extraJson;
				
				console.log(data.ExtraJSONstrings);
				console.log(JSON.stringify(data));
				
				$http.post($scope.apiHost + $scope.matchedClustersTable, data)
				.then(function(){
					console.log("formCluster returned");
				}, function(response){
					$scope.handleApiError(response);
				});
				
				// Delete the selected records
				$scope.removeUser(needer._id, 'needers');
				$scope.removeUser(selectedCareTakers[0]._id, 'careTakers');
				if(selectedCareTakers.length > 1)
					$scope.removeUser(selectedCareTakers[1]._id, 'careTakers');
				if(selectedCareTakers.length > 2)
					$scope.removeUser(selectedCareTakers[2]._id, 'careTakers');
			}
			$scope.displayFailure = function(message){
				alert(message);
			}
			$scope.displaySuccess = function(message){
				$scope.successMessage = message;
				setTimeout( function() {
					$scope.successMessage = '';
				}, 2000);
			}
			$scope.handleApiError = function(response){
				console.log(response);
				$scope.displayFailure(response.statusText || "There was an error with your request");
			}
		});
		
		</script>
    </body>
</html>
<!--THIS IS A SIMPLE FILTER LIST (WILL CONNECT TO DATABASE OF MEMBERS) AND HOW IT IS DISPLAYED.
NO NAV/LINK FUNCTIONALITY AT THE MOMENT-->
